# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Build Information
build/*

# Workflow Files
*.bat

# Visual Studio Junk
*.tlog
*.pdb
*.idb
*.log
*.user
*.lastbuildstate
